article {
  width: 100%;
  margin: 0 auto;
  ul {
    width: 100%;
    li {
      display: grid;
      text-align: left;
      grid-template-columns: 0.6fr 0.8fr 1.25fr 0.5fr 1.5fr 1fr 0.9fr 0.8fr 2fr;
      align-items: center;
      padding: 9px 12px;
      line-height: 12px;
      cursor: pointer;
      span {
        font-weight: 300;
        &:first-child {
          display: flex;
          align-items: center;
          img {
            margin-right: 14px;
          }
        }
      }
      .hashSpan,
      .priceSpan,
      .manufacturerSpan {
        text-align: center;
      }
      .nameSpan,
      .imgSpan {
        display: none;
      }
      .greenSpan {
        color: #00a651;
      }
      .priceSpan {
        font-weight: normal;
      }
    }
  }
}

@media (max-width: 1024px) {
  article {
    width: 66%;
    ul {
      li {
        grid-template-columns: 0.6fr 1.25fr 0.5fr 1.5fr 0.9fr 0.8fr 2fr;
      }
      .algorithmSpan,
      .releaseSpan {
        display: none;
      }
    }
  }
}
@media (max-width: 950px) {
  article {
    ul {
      li {
        grid-template-columns: 0.6fr 1.25fr 0.5fr 1.5fr 0.8fr 2fr;
      }
      .efficiencySpan {
        display: none;
      }
    }
  }
}
@media (max-width: 768px) {
  * body .wrapper article {
    width: 100%;
    h2 {
      display: none;
    }
    ul {
      .list-product {
        display: grid;
        padding: 0 6.5%;
        padding-top: 2px;
        padding-bottom: 63px;
        margin-bottom: 28px;
        grid-template-columns: 0.25fr 0.5fr 1fr 0.25fr;
        grid-template-rows: 0.25fr 0.25fr 1fr 0.5fr;

        span {
          display: none;
          &:first-child {
            display: inline-block;
            grid-column: 4/5;
            grid-row: 1/3;
            justify-self: center;
            margin: 0;
            width: 50%;
            img {
              width: 100%;
            }
            img {
              &:last-child {
                display: none;
              }
            }
          }
        }
        .hashSpan {
          display: inline-block;
          grid-column: 1/4;
          grid-row: 2/3;
          justify-self: start;
          font-weight: normal;
          font-size: 24px;
          color: #c4c4c4;
          align-self: center;
        }
        .nameSpan {
          display: inline-block;
          grid-column: 1/4;
          grid-row: 1/2;
          justify-self: start;
          font-weight: normal;
          align-self: end;
          font-size: 24px;
          color: #c4c4c4;
        }
        .imgSpan {
          display: inline-block;
          grid-column: 2/4;
          grid-row: 3/4;
          width: 80%;
          align-self: center;
          justify-self: center;
          margin: 0;
          object-fit: cover;
        }
        .priceSpan {
          display: inline-block;
          grid-column: 1/4;
          grid-row: 4/5;
          font-weight: bold;
          font-size: 44px;
          align-self: end;
          justify-self: start;
          line-height: 34px;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  * body .wrapper article {
    ul {
      .list-product {
        padding-bottom: 34px;
        margin-bottom: 15px;
        .hashSpan,
        .nameSpan {
          font-size: 16px;
        }
        .priceSpan {
          font-size: 23px;
          line-height: 14px;
        }
      }
    }
  }
}
